#sliding-popup {
  display: block;
  text-align: center;
  width: 100%;
  z-index: 99999;
  background-color: rgba(55,55,55,0.9);
}
.sliding-popup-bottom {
  position: fixed;
}

.sliding-popup-top {
  position: relative;
}

#sliding-popup .popup-content {
  border: 0 none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

#sliding-popup .popup-content #popup-buttons {
  margin: 1em;
}

#sliding-popup .popup-content #popup-buttons button {
  cursor: pointer;
  overflow: visible;
  width: auto;
  border: none;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  color:#333;
  padding:4px 8px;
  text-decoration:none; 
}

#sliding-popup .popup-content #popup-buttons button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;  
}

#sliding-popup .popup-content #popup-buttons button:active {
  position:relative;
  top:1px;  
}

#sliding-popup .popup-content #popup-text {
  color: #fff;
  margin: 1em;
}
